%p
  %b Name:
  = @requirement.name
%p
  %b Reusable:
  = @requirement.reusable

= link_to 'Edit', edit_requirement_path(@requirement), class: "btn btn-info"
= link_to 'Back', requirements_path, class: "btn btn-primary"
